@import'../abstract/variables';

#deck-image{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 .img{
    img{
        border-radius: 40px;
        margin-bottom: 0.5rem;
        border-bottom: solid 6px $cor-secundaria;
        border-right: solid 6px $cor-secundaria;
    }
 }

    .texto__deck{
        color: $cor-secundaria;
        font-size: 1.2rem;
        margin: 1rem;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 2%;
        strong{
            font-weight: bold;
        }
    }

}

footer{
    background-color:$cor-secundaria;
    height: 30px;
    .assinatura-index{
        font-size: 15spx;
        font-family:'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 0.5%;
       
    }
    }