@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Comic+Neue:wght@400;700&family=Dosis:wght@500&family=Lilita+One&family=Montserrat:wght@100&family=Roboto+Condensed&display=swap');
@import '../abstract/variables';


html, body{
    font-family: $fonte-destaque ;
    background-color: $cor-primaria;
    margin: 0;
    padding: 0;
}
