@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Comic+Neue:wght@400;700&family=Dosis:wght@500&family=Lilita+One&family=Montserrat:wght@100&family=Roboto+Condensed&display=swap");

//FONTES

$fonte-destaque: 'Roboto Condensed', sans-serif;


//CORES
$cor-primaria: #F7E1AE;
$cor-secundaria: #B04759;
$cor-terciaria: #E76161;
$cor-hover: #974452;
$cor-back-cupom: #FFD0D0;